/* header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Garamond", sans-serif;
}

ul {
  list-style-type: none;
  gap: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header > .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  padding-right: 30px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.container > nav:first-child {
  display: flex;
}

.menu {
  display: none;
}

/* let's hit the road */

.grid {
  display: grid;
  grid-auto-rows: auto;
}

.images,
.images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.road {
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  border-top: 1px solid gray;
}

.road > .let-hit {
  padding: 15px;
}

.let-hit > h1 {
  font-size: larger;
}

.let-hit > .larger {
  font-size: larger;
}

.road > .let-hit > p {
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  margin-top: 10px;
  color: rgb(128, 128, 128);
  background-color: transparent;
  font-family: "Arial", sans-serif;
  cursor: pointer;
}

/* The first story */

.story {
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
  border-top: 1px solid gray;
}

.story > .stories,
.story-1 > .stories {
  padding: 15px;
}

.stories > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.story-1 {
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  grid-auto-rows: 400px;
}

.photos {
  grid-template-columns: 2fr 2fr 1fr 2fr;
  grid-auto-rows: 300px;
}

.gallery > .container > h2,
.feature > .container > h2,
.form > .container > h2 {
  margin: 40px 0;
  text-align: center;
}

.features {
  padding: 0 35px;
  grid-template-columns: 1fr 1fr 1fr;
}

.features > .block {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.block:first-child,
.block:nth-child(2),
.block:nth-child(4),
.block:nth-child(5) {
  border-right: 1px solid gray;
}

.block:first-child,
.block:nth-child(2),
.block:nth-child(3) {
  border-bottom: 1px solid gray;
}

form
{
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 60px;
}

#name, #email, #phone, select, textarea
{
  width: 100%;
}

#name, #email, #phone, select
{
  padding: 10px;
}

.person
{
  display: flex;
  gap: 15px;
}

.person > div
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.contact
{
  padding-bottom: 10px;
}

.contact, .contact > .flex
{
  gap: 15px;
}

.contact > .flex > div
{
  display: flex;
  align-items: center;
  gap: 5px;
}

.topic, .message
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.message > textarea
{
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.confirm
{
  display: flex;
  justify-content: space-between;
}

.firstpart
{
  display: flex;
  align-items: center;
}

.confirm > .firstpart:first-child
{
  gap: 10px
}

.nav-footer
{
  display: flex;
  gap:5px;
  justify-content: center;
  align-items: center;
}
.nav-footer > div
{
  padding: 10px;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h4
{
  text-align: center;
  padding:30px 0;
}

@media (max-width: 1200px)
{
  header > .container{
    padding-left: 30px;
  }
}


@media (max-width: 851px) {
  /* header */

  header > .container {
    padding-left: 30px;
  }

  .social {
    display: none;
  }

  /* let's hit the road */

  .let-hit > h1 {
    font-size: large;
  }

  .let-hit > .larger {
    font-size: inherit;
  }

  /* The first story */
  .story,
  .story-1,
  .road {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .photos {
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 300px;
  }

  .photos > div:nth-child(3),
  .photos > div:last-child {
    display: none;
  }

  .features {
    grid-template-columns: 1fr 1fr;
  }

  .block:first-child,
  .block:nth-child(2),
  .block:nth-child(4),
  .block:nth-child(5) {
    border-right: none;
  }

  .block:first-child,
  .block:nth-child(2),
  .block:nth-child(3) {
    border-bottom: none;
  }

  .block:nth-child(even) {
    border-left: 1px solid gray;
  }

  .block:nth-child(3),
  .block:nth-child(4),
  .block:nth-child(5),
  .block:last-child {
    border-top: 1px solid gray;
  }

  form
  {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 600px) {
  /* header */

  .menu {
    display: block;
  }

  ul {
    gap: 18px;
  }

  /* let's hit the road */
  .road {
    display: flex;
    flex-direction: column-reverse;
    border-top: none;
  }

  /* The first story */
  .story {
    display: flex;
    flex-direction: column;
    border-top: none;
  }

  .story-1 {
    display: flex;
    flex-direction: column-reverse;
    border-top: none;
    border-bottom: 2px solid gray;
  }

  .photos {
    grid-template-columns: 1fr;
  }

  .photos > div:nth-child(2) {
    display: none;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .block:nth-child(even) {
    border-left: none;
  }

  .block:nth-child(3),
  .block:nth-child(4),
  .block:nth-child(5),
  .block:last-child {
    border-top: none;
  }

  .block {
    border-bottom: 1px solid gray !important;
  }

  .person
  {
  flex-direction: column;
  }
}
